.NavbarItems{
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    background-color: black;
}
.menu-icon {
    display: none;
}
.navbar-logo {
    cursor: pointer;
}
.nav-menu{
    display: flex;
    margin-left: 1.5rem;
    list-style-type: none;
}
.nav-links{
    text-decoration: none;
    color: white;
    margin-right: 1.5rem;
    font-size: 1.5rem;
}
.nav-links-mobile {
    display: none;
}
@media screen and (max-width: 960px){
    .NavbarItems{
        position: relative;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -150%;
        opacity: 1;
        transition: all 0.5s ease;
        background: black
    }
    .nav-menu.active{
        width: 100%;
        left: -6.5%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 1;
    }
    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: block;
    }
    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 10%;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.5rem;
        cursor: pointer;
    }
    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 70%;
        background: #4ad9e4;
        text-decoration: none;
        font-size: 1.5rem;
        color: #fff;
    }
    .nav-links-mobile:hover{
        background: #fff;
        color: #6568F4;
        transition: 250ms;
    }
    Button {
        display: none;
    }
}