.cart{
    margin: auto;
    margin-top: 1.5rem;
    width: 25%;
    border: 3px solid #29ac45;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.button-wrapper{
    margin-top: 1.3rem;
}
.button-wrapper button{
    background-color:#3ca854;
    color: #fff;
    padding:0.3em 1.2em;
    margin:0 0.1em;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    font-weight:300;
    font-size: 1.3rem;
    transition: all 0.2s;
    cursor: pointer;
}
.button-wrapper .btn-info{
    font-size: 1rem;
}
.button-wrapper .btn-info:hover{
    background: #fff;
    color: #2fa72b;
    transition: 250ms;
    border-color: #2fa72b;
}
.button-wrapper button:hover{
    border-color: rgba(255,255,255,1);
}
.cart h3{
    margin-top: 1.5rem;
}
.cart h4{
    margin-top: 1.3rem;
    margin-bottom: 1.5rem;
}
.cart img{
    margin-top: 1.5rem;
}
